/* CSS RESET */
:root {
    /* Colors */
    --White: #ffffff;
    --Background-Color: #F7F7FC;
    --Divider-Color: #EBEBF5;
    --Text-Color: #1A1A33;

    /* Variables */

}

* {
    font-size: 10px !important;
    font-family: "Inter" !important;
    color: var(--Text-Color) !important;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none !important;
}

#parent-container {
    height: 100vh;
    width: 100%;
    background-color: var(--Background-Color);
}

#icon-sidebar {
    width: 6.4rem;
}

#icon-sidebar .icon-sidebar-navbar {
    height: 6.4rem;
    padding: 1.6rem;
}

#icon-sidebar img {
    width: 3.2rem;
    height: auto;
}

#detail-sidebar {
    width: 28rem;
    background-color: var(--White);
}

#detail-sidebar .detail-sidebar-navbar-header {
    font-size: 1.8rem !important;
    font-weight: 600;
    line-height: 2.8rem;
    padding: 1.8rem 2.4rem;
}

#main-container {
    width: -webkit-fill-available;
}

#navbar {
    height: 6.4rem;
    padding: 1.6rem 4rem;
    gap: 2.4rem;
    justify-content: flex-end;
    align-items: center;
}

#navbar .navbar-item-icon {
    width: 2rem;
}

#navbar .navbar-item {
    gap: 0.8rem;
    align-items: center;
}

#navbar .avatar-image {
    width: 3.2rem;
    height: auto;
}

#navbar p {
    font-size: 1.4rem !important;
    font-weight: 500;
    line-height: 2.4rem;
}

#navbar .dropdown-item-icon {
    width: 1.6rem;
}

#navbar .dropdown-menu {
    width: 100%;
}

.dropdown-toggle::after {
    display: none !important;
}

hr .navbar-divider {
    border: 1px solid var(--Divider-Color);
    opacity: 1;
    margin: 0;
}